.table {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
   }
   
   
   .blue {
    width: 100px;
    height: 100px;
    background-color: blue;
   }
   
   .red {
    width: 100px;
    height: 100px;
    background-color: red;
   }